<section class="pagecontent home">

  <div class="homeheader">
    <div class="headercontain">
      <div class="homeheadertext">
        <img src="../../images/taking-stock-logo.png" alt="Taking Stock Logo" />
        <h4>Test your mettle on the market ... for <span class="emphasis">FREE!</span></h4>
        <button id="homeRegister" ng-click="registerWindow()" type="submit" class="btn btn-default btn-lg">Sign Up Today</button>
      </div>

      <div class="homelogin">
        <input type="text" name="user" id="loginEmail" placeholder="Enter email address here" autofocus />
        <a ng-click="loginUser()" type='button' class='btn btn-primary btn-lg'>Login</a>

        <div class="disclaimer">If you haven't registered yet, please <a ng-click="registerWindow()">click here</a>.</div>

        <div class="error">{{loginError}}</div>
      </div>

      <div class="homeregister">
        <h3>Please Register To Play!</h3>

        <input type="text" id="firstName" placeholder="Enter first name here" autofocus />
        <input type="text" id="lastName" placeholder="Enter last name here" />
        <input type="email" id="registerEmail" placeholder="Enter email address here" />
        <a ng-click="loginWindow();registerUser()" type='button' class='btn btn-primary'>Complete Registration</a>
      </div>

      <div class="illustration">
        <img src="../../images/stock-illustration.svg" alt="Man With Stock Diagram" />
      </div>
    </div>
  </div>


  <div class="container-fluid homeColumns">
    <div class="row">
      <div class="col-xs-4">
        <div class="colheader">
          <i class="fa fa-money"></i>
        </div>
        <h3>Not Real Money</h3>
        <p>Not exactly flush with cash for investing? No worries! Our game gives you free, no-risk money to use to try out your hand at beating the market. Use our virtual cash for picking out those stocks you're positive are a "sure thing", or even those you just have a "good feeling" about. Giving investing a go has never been so easy ... or bankruptcy-free!</p>
      </div>
      <div class="col-xs-4">
        <div class="colheader">
          <i class="fa fa-thumbs-o-up"></i>
        </div>
        <h3>Real Stock Results</h3>
        <p>What good would a stock market simulation be if you couldn't track real, timely stock results? Not very good, obviously. Here at <strong>Taking Stock</strong>, we track real results, keeping tabs on current values and indexes, so that when you try your hand at picking the best investments, you can easily find out how good your skills and instincts truly are. </p>
      </div>
      <div class="col-xs-4">
        <div class="colheader">
          <i class="fa fa-users"></i>
        </div>
        <h3>Play Your Friends</h3>
        <p>You've always thought that you were financially smarter than all those Wall Street gurus, and now here's your chance to prove it to everyone in your social circle! We keep a running board of the top ten profit earners playing the game at any given moment, so now you can feel that great sense of satisfaction when your friends see your name above theirs on the scoreboard. </p>
      </div>
    </div>
  </div>

</section>
