<section class="pagecontent profile">
  <div class="profilesummary">
    <div class="profileheader">
      <h1>{{userName}}</h1>
      <h3>Portfolio value: {{portfolioValue | currency}}</h3>
      <h3>Funds available: {{bankAccount | currency}}</h3>
    </div>

    <div class="profilestocks">
      <h2>Current Portfolio</h2>
      <ul class="stockinfo" >
        <li ng-class-even="'greystripe'" ng-class-odd="'whitestripe'" ng-repeat="stock in ownedStocks"><span class="blue">{{stock.stockname}}</span> {{stock.quantityowned}} Purchase price: {{stock.purchaseprice | currency}} Current value: {{lastPrice | currency}} Total value: {{totalValue | currency}}</li>
      </ul>
    </div>
  </div>

</section>
