<section class="pagecontent profile">
  <div class="profilesummary">
    <div class="profilepic"></div>
    <div class="profileheader">
      <h1>{{userName}}</h1>
      <h3 class="ranking">Taking $tock ranking: &nbsp;"Pauper"</h3>
      <h3>Portfolio value: &nbsp;{{portfolioValue | currency}} &nbsp;&bull;&nbsp; Funds available: &nbsp;{{bankAccount | currency}}</h3>
    </div>

    <div class="profilestocks">
      <h2>Current Portfolio</h2>
      <ul class="stockinfo" >
        <li class="columnHead"><div class="tab first"><span class="colorAccent">Company Name</span></div><div class="tab second">Quantity</div><div class="tab third">Purchase Price</div><div class="tab fourth">Current Value</div><div class="tab fifth">Total Value</div></li>
        <li ng-class-even="'greystripe'" ng-class-odd="'whitestripe'" ng-repeat="stock in ownedStocks"><div class="tab first"><span class="colorAccent">{{stock.stockname}}</span></div><div class="tab second">{{stock.quantityowned}}</div><div class="tab third">{{stock.purchaseprice | currency}}</div><div class="tab fourth">{{lastPrice | currency}}</div><div class="tab fifth">{{totalValue | currency}}</div></li>
      </ul>
    </div>
  </div>

</section>
