/***************************
CONTENT
***************************/
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Helvetica, Tahoma, sans-serif;
  font-size: 16px;
  height: 100%; }

a.btn {
  margin-right: 10px; }

#master {
  min-height: 100%; }

.navbar {
  margin-bottom: 0; }
  .navbar .navbar-right li:hover,
  .navbar .navbar-right li:active {
    background-color: #54215e; }

.navbar-default,
footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/a045b2+0,833393+100 */
  background: #a045b2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a045b2 0%, #833393 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a045b2 0%, #833393 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a045b2 0%, #833393 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$stockmedium', endColorstr='$stockdark',GradientType=0 );
  /* IE6-9 */
  color: #fff;
  text-shadow: 0 1px 2px #833393;
  border: 0; }
  .navbar-default .navbar,
  footer .navbar {
    border-radius: 0; }
  .navbar-default .container-fluid,
  footer .container-fluid {
    padding-left: 30px;
    font-size: 14px; }
  .navbar-default .navbar-brand,
  footer .navbar-brand {
    color: #e9e0eb; }
  .navbar-default .navbar-brand:hover,
  footer .navbar-brand:hover {
    cursor: pointer;
    color: #fff; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-default .navbar-toggle:visited {
  background-color: #4682B4; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus {
  background-color: #b5cde3; }

.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #4682B4; }

.navbar-default .navbar-toggle {
  border-color: #fff; }

.navbar-default .navbar-nav > li > a:link,
.navbar-default .navbar-nav > li > a:visited,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li.dropdown a,
.navbar-default .navbar-nav > li > a {
  color: #fff;
  cursor: pointer; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #54215e;
  color: #fff; }

span.userGreeting {
  padding: 15px;
  display: block;
  background-color: #54215e; }

.dropdown-menu {
  padding: 0;
  min-width: 300px;
  background-color: #e9e0eb; }

.btn-primary.searchButton {
  background-color: #a045b2;
  border: 0;
  margin-left: 10px; }

.btn-primary.searchButton:hover,
.btn-primary.searchButton:active,
.btn-primary.searchButton:focus {
  background-color: #833393; }

.form-control:focus,
input:focus {
  border-color: #a045b2;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(160, 69, 178, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(160, 69, 178, 0.6);
  outline: none; }

#headerid {
  text-transform: uppercase;
  font-size: 1.4em;
  display: inline-block;
  padding: 20px; }

.pagecontent {
  padding: 5px 20px; }

.pagecontent.home {
  padding: 0; }

.pagecontent.home h1 {
  color: #fff;
  text-shadow: 0px 1px 2px #833393;
  margin: 50px 0 40px;
  font-size: 4em; }

.pagecontent.home input {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  color: #000; }

.pagecontent.home a.btn {
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto; }

.btn-default {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff; }

.btn-default:hover,
.btn-default:active {
  color: #a045b2;
  background-color: #fff;
  border: 2px solid #fff; }

.homeheader {
  background-color: #a045b2;
  color: #fff;
  padding: 20px 40px 40px 60px; }

.homeheadertext {
  display: inline-block;
  width: 55%; }

.homeheadertext img {
  width: 70%;
  margin-top: 15px; }

.homeheadertext h4 {
  line-height: 1.3em;
  font-weight: 300;
  font-size: 1.2em; }

.coloraccent {
  color: #a045b2;
  font-weight: bold; }

.emphasis {
  font-weight: bold;
  font-style: italic; }

#homeRegister {
  margin-top: 20px; }

.homeColumns {
  padding: 40px; }

.illustration {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  padding-top: 10px; }

.illustration img {
  width: 100%;
  max-height: 400px; }

.row h3 {
  color: #833393;
  padding-left: 5px; }

.col-xs-4 {
  padding: 0 20px; }

.col-xs-4 i {
  color: #a045b2;
  font-size: 4em; }

.col-xs-4 p {
  padding-left: 5px; }

.colheader {
  text-align: center;
  background-color: #e9e0eb;
  padding: 20px;
  border-radius: 10px; }

.homelogin {
  display: none;
  padding: 90px 60px 0 0;
  text-align: center; }

.homelogin a.btn.btn-primary,
.homeregister a.btn.btn-primary {
  background-color: #54215e;
  border: 0; }

.homelogin a.btn.btn-primary:hover,
.homelogin a.btn.btn-primary:active,
.homelogin a.btn.btn-primary:focus,
.homeregister a.btn.btn-primary:hover,
.homeregister a.btn.btn-primary:active,
.homeregister a.btn.btn-primary:focus {
  background-color: #321439; }

.homeregister {
  display: none;
  padding: 30px 60px 0 0;
  text-align: center; }

.homeregister h3 {
  color: #e9e0eb;
  margin-bottom: 20px; }

.pagecontent.home .homeregister input {
  font-size: 1.6em; }

.disclaimer {
  margin: 20px 0; }

div.disclaimer a,
div.disclaimer a:visited {
  color: #ffe400; }

.disclaimer a:hover,
.disclaimer a:active {
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.6); }

.error {
  color: #99FF00;
  font-style: italic; }

.pagecontent.profile {
  padding: 20px; }

.profilesummary {
  border: 2px solid #a045b2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative; }

.buyshares {
  min-height: 550px; }

.buyStock {
  padding: 20px; }

.profilesummary img {
  position: absolute;
  top: 20px;
  right: 25px;
  height: 500px; }

.profileheader {
  background-color: #a045b2;
  color: #fff;
  padding: 20px 20px 10px; }

.profileheader h1 {
  font-size: 4em;
  margin-top: 0;
  text-shadow: 0px 1px 2px #833393; }

.profileheader h3 {
  margin: 5px 0 10px 0; }

.howmany {
  width: 50%; }

#stockQuantity {
  display: block;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 5px 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

#stockQuantity:focus {
  border-color: #a045b2;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(160, 69, 178, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(160, 69, 178, 0.6);
  outline: none; }

.profilestocks {
  min-height: 470px;
  padding: 20px; }

.profilestocks h2 {
  color: #a045b2;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #eddaf1; }

.stockinfo {
  margin: 20px 0; }

.stockinfo li {
  list-style-type: none; }

.profilestocks .stockinfo {
  padding-left: 0;
  margin: 0; }

.profilepic {
  position: absolute;
  top: 10px;
  right: 20px;
  border-radius: 50%;
  border: 8px solid #54215e;
  box-shadow: 0 4px 8px #54215e;
  width: 200px;
  height: 200px;
  background-image: url("https://okgamers.com/wp-content/uploads/2016/10/facebook_event_1180173295383549.jpg");
  background-position: -40px;
  background-size: cover; }

.ranking {
  color: #eddaf1; }

.columnHead {
  background-color: #eddaf1;
  padding: 20px;
  color: #a045b2;
  font-weight: bold; }

.tab {
  display: inline-block;
  vertical-align: top;
  /* padding: 0 10px 0 0; */
}

.first {
  width: 20%; }

.second {
  width: 10%; }

.third {
  width: 18%; }

.fourth {
  width: 18%; }

.fifth {
  width: 15%; }

 .sixth {
  width: 15%; }

.greystripe {
  background-color: #eee;
  padding: 20px; }

.whitestripe {
  padding: 20px; }

.loss {
  color: red;
}

.center {
  text-align: center;
}

.pagecontent.stock,
.pagecontent.buy {
  padding: 20px;
  min-height: 470px; }

.pagecontent.stock h1 {
  background-color: #a045b2;
  text-shadow: 0px 1px 2px #833393;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 0; }

.results a.btn.btn-info {
  background-color: #a045b2;
  border: 0; }

.results a.btn.btn-info:hover,
.results a.btn.btn-info:active {
  background-color: #833393; }

.results {
  padding: 0 20px; }

#resultsContent {
  padding: 0 25px; }
  #resultsContent h1 {
    margin: 0; }

.pagecontent.buy h1 {
  color: #fff;
  text-shadow: 0px 1px 2px #833393;
  font-size: 3em; }

.buyerror {
  color: #ff0000;
  font-style: italic;
  margin-top: 20px; }

.purchase {
  width: 60%; }

.pagecontent.scoreboard {
  padding: 20px; }

.scoreheader {
  background-color: #a045b2;
  color: #fff;
  padding: 20px 20px 10px; }

.scoreheader h1 {
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center; }

.scorelist {
  background-color: #eddaf1;
  border: 2px solid #a045b2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1.6em; }

.scorelist .stockinfo {
  margin-top: 0;
  padding-right: 40px; }

.scoreHead {
  border-bottom: 1px solid #a045b2; }

.scoretab {
  width: 33%;
  display: inline-block;
  padding: 0 10px 0 0; }

footer {
  padding: 20px;
  text-align: center; }

/***************************************
MEDIA QUERIES
***************************************/
@media (min-width: 768px) {
  .navbar {
    border-radius: 0; } }
@media (min-width: 900px) {
  .container-fluid,
  .pagecontent.profile,
  .pagecontent.stock,
  .pagecontent.buy,
  .pagecontent.scoreboard {
    width: 900px;
    margin: 0 auto; }

  .headercontain {
    width: 834px;
    margin: 0 auto; } }

/*# sourceMappingURL=main.css.map */
